<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.github.fyr">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name="android.support.multidex.MultiDexApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".WhatPace"
            android:label="@string/title_activity_what_pace"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".HomePage"
            android:label="@string/title_activity_home_page"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".WhatSurface"
            android:label="@string/title_activity_what_surface"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".WhatDistance"
            android:label="@string/title_activity_what_distance"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".ReviewRun"
            android:label="@string/title_activity_review_run"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".ProfilePage"
            android:label="ProfilePage"
            android:theme="@style/AppTheme" />
        <activity android:name=".AboutPage" />
        <activity
            android:name=".RegisterUser"
            android:label="@string/title_activity_register_user"
            android:theme="@style/AppTheme.NoActionBar.NoActionBar" />
        <activity
            android:name=".LoginUser"
            android:label="@string/title_activity_login_user"
            android:theme="@style/AppTheme.NoActionBar.NoActionBar" />
        <activity
            android:name=".ProfilePace"
            android:label="@string/title_activity_profile_pace"
            android:theme="@style/AppTheme.NoActionBar.NoActionBar" />
        <activity
            android:name=".ProfileTerrain"
            android:label="@string/title_activity_profile_terrain"
            android:theme="@style/AppTheme.NoActionBar.NoActionBar" />
        <activity
            android:name=".ProfileDistance"
            android:label="@string/title_activity_profile_distance"
            android:theme="@style/AppTheme.NoActionBar.NoActionBar" />
        <activity
            android:name=".ProfileName"
            android:label="@string/title_activity_profile_name"
            android:theme="@style/AppTheme.NoActionBar.NoActionBar" />
        <activity
            android:name=".ProfileEdit"
            android:label="@string/title_activity_profile_edit"
            android:theme="@style/AppTheme.NoActionBar.NoActionBar" />
        <activity
            android:name=".MatchMakingActivity"
            android:label="@string/title_activity_match_making"
            android:theme="@style/AppTheme.NoActionBar.NoActionBar"></activity>
    </application>

</manifest>